<section style="position: relative;">
    <div class="tarjeta">
        <div class="marca">
            <div>
                <fa-icon [icon]="faCcMastercard"></fa-icon> MasterCard
            </div>
            <fa-icon [icon]="faSimCard"></fa-icon>
        </div>
        <div class="saldo">
            <div class="etiqueta">Total Assets (USD)</div>
            <div class="valor">29,768<span class="ceros">.00</span></div>
        </div>
        <div class="contenedor-valores">
            <div class="valores">
                <div class="etiqueta">Asset Wallet</div>
                <div class="valor">27,329<span class="ceros">.00</span></div>
            </div>
            <div class="valores">
                <div class="etiqueta">Consumption</div>
                <div class="valor">2,438<span class="ceros">.43</span></div>
            </div>
        </div>
    </div>
    <div class="contenedor-tarjetas">
        
    </div>
</section>
